
<div class="container-fluid">
	 <div class="jumbotron">
	 	<div class="row">
			<%= will_paginate %>
			
			<ul class="houses">
			   <%= render @houses%>
			</ul>
			
			<%= will_paginate %>

		</div>
	</div>
</div>
