<div class="stats">
    <strong id="events" class="stat">
      Адрес: <%= @event.address %><br>
      Дата и время: <%= @event.date %><br>
      Долгота:  <%= @event.longitude %><br>
      Широта:  <%= @event.latitude %>
  	</strong>
  </a>
</div 