
<div class="container-fluid">
	 <div class="jumbotron">
	 	<div class="row">
	 		<%= render 'shared/eventsearch'  %>
	 		</div>
	 	<div class="row">
			<%= will_paginate %>
			<ul class="events">
			   <%= render @events%>
			</ul>
			<%= will_paginate %>

		</div>
	</div>
</div>
