 <div class="jumbotron">
	<div class="row">
		<% if signed_in? %>
			<p><b>Карта находится в разработке.</b><br>
				На текущий момент доступна карта со слоями:
				<ul>
					<li>жилые дома (красные, если квартир > 200, синие: 100 <= квартир <= 200, зеленые: квартир < 100)</li>
					<li>волонтеры (отмечаются пока только через интерфейс разработчика)</li>
					<li>кубы (отмечаются пока только через интерфейс разработчика)</li>
					<li>разнесенные листовки по домам (отмечаются пока только через интерфейс разработчика)</li>
				</ul>
				<br>
				<br>Предложения по улучшению интерактивной карты просьба направлять на адрес
				<a href="mailto:ysergeev@gmail.com">ysergeev@gmail.com</a></p>
		<% else %>
		  <div class="col-md-4 col-md-offset-4">
		  	<p><%= link_to "Sign in!", signin_path, class: "btn btn-primary" %> </p>
		  </div>
		<% end %>
	</div>
</div>

