 <div class="jumbotron">
	<div class="row">
		<% if signed_in? %>
			<p><b>Карта находится в разработке.</b><br>
				На текущий момент доступны карты волонтеров, жилых домов и общая карта. 
				Общая карта отображает и дома, и волонтеров на одном экране.<br><br>Предложения по улучшению интерактивной карты просьба направлять на адрес
				<a href="mailto:ysergeev@gmail.com">ysergeev@gmail.com</a></p>
		<% else %>
		  <div class="col-md-4 col-md-offset-4">
		  	<p><%= link_to "Sign in!", signin_path, class: "btn btn-primary" %> </p>
		  </div>
		<% end %>
	</div>
</div>

