// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  padding-top: 70px;
  background-color: #0F8A97;
}

h2 {
  color: #008793;
}

container-fluid {
  background-color: #0F8A97;
}

.gm-style-iw {
width: 200px; 
min-height: 100px;
}